<div class="welcome-message">
	<!-- <h1>kshizzy</h1> -->
	
	<!-- <h2>kshzz<span style="font-weight: bold;">y</span> is a connected learning platform that helps you build critical thinking skills</h2> -->
	
	<!-- <h2>What did you learn today?</h2> -->
	
	<!-- <h2>Explore your interests and insights with friends and colleagues around the world.</h2> -->
	
	<!-- <h2>Kshizzy is a connected learning platform that helps you explore your interests and insights with anyone around the world.</h2> -->

	<h1>Welcome to kshzz<span style="font-weight: bold;">y</span></h1>
<!-- 	<h2>Collaborate, learn, and build critical thinking skills with family, friends, and colleagues around the world</h2> -->
	<h2>kshizzy helps you learn, collaborate, and build critical thinking skills</h2>
</div>
