<section class="row-fluid">
	<aside class="span3">
    	<div>
     	 <%= render 'shared/user_info' %>
    	</div>
      <div>
       <%= render 'shared/stats' %>
      </div>      
  
	</aside>
	<div class="span4">
  		<div>
       <%= render 'shared/micropost_form' %>
      </div> 
  		
	</div>
</section>
<section class="row-fluid">
  <div class="span3">
      <h3>Feed</h3>
      <%= render 'shared/feed' %>
  </div>
</section>