<section class="row-fluid">
  <div class="span6">
  	<div class="row-fluid">
  		<div class="span6">
  			<h3>Conversations</h3>
  		</div>
  		<div class="span6">
  			<button>FILTER</button>
  		</div>  		
  	</div>
  	<%= render 'shared/feed' %>
  </div>
  <div class="span6">OTHER STUFF</div>  
</section>
<!-- Render as an aside -->
<%#= render 'shared/user_info' %>

<%#= render 'shared/stats' %>

<%#= render 'shared/micropost_form' %>

<%#= render 'shared/home_nav' %>


