<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>

<p>
Contact us with you concerns, worries, troubles, thoughts, and good tidings! 
And visit <a href="http://rubyonrails.org">Ruby on Rails</a>
</p>