<% provide(:title, 'Home') %>
<h1>Sample App</h1>
<p>
	This is the home page for my sample Ruby on Rails application
	made possible by Mike Hartl 
	@ <a href="http://railstutorial.org">Ruby on Rails Tutorial</a>
</p>
