<% provide(:title, "Reset your password") %>
<section class="static-wrapper">
    <div class="form-header">   
      <span class="call-to-action">Reset Password</span> 
    </div>
    <div class="static-form-container">
      <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= render 'password_resets/partials/update_fields', f: f %>
        <%= render 'password_resets/partials/update_button', f: f %>
      <% end %>      
    </div>
</section>