<% provide(:title, 'Reset Password') %>
<section class="static-wrapper">
	<div class="form-header">
		<span class="call-to-action">
			Reset your password
		</span>
	</div>
	<div class="static-form-container">
		<p class="link-to">Enter your email below so we can send you a link to reset your password.</p>
		<%= form_tag password_resets_path, method: 'post', class: "reset_password" do %>	
			<%= render 'password_resets/partials/fields' %>
			<span class="link-to">
				<p>New user? <%= link_to "Sign up!" , signup_path %></p>
			</span>
			<%= render 'password_resets/partials/submit_button' %>
		<% end %>
	</div>

	
</section>