<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color: #FF0DFF;">
    <header>
      <h1><%= @user.fullname %>,</h1>
    </header>

    <h3>Please confirm your Kshizzy account.</h3>
    
    <p>
      Confirming your account will give you full access to Kshizzy<br> and all future notifications will be sent to this email address.
    </p>
    
    <p>
      To confirm your account, just click this <%= link_to "link", @url %>.
    </p>

    <footer>
      <small>
        Forgot your Kshizzy password? <%= link_to "Get instructions on how to reset it.", '#' %>
      </small><br>
      <small>
        If you received this message in error and did not sign up for Kshizzy, click <%= link_to "not my account.", '#' %>
      </small>
    </footer>
  </body>
</html>