<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <header>
      <h1><%= @user.person.full_name %>,</h1>
    </header>

    <h3>You can reset your password by clicking this link:</h3>

    <p><%= link_to 'Reset password', @url %></p>
    
    <p>
		If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.
    </p>
    
    </footer>
  </body>
</html>