<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Kshizzy, <%= @user.name %></h1>
    
    <p>
      You have successfully signed up to Kshizzy! And the Redsox won the division! Doesn't it feel good?
    </p>
    
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    
    <p>Thanks for joining and have the best day ever! Yay :) Email!</p>

    <small>
      Try signing up from an alternative email to make sure you DO NOT receive this message! This shit it on lockdown!
    </small>
  </body>
</html>