<%= render 'conversations/partials/title' %>

<section class="responses" id="responses">
	<% @conversation.posts.each do |post| %>
		<% present post do |presenter| %>
			<%= render 'conversations/partials/post', post: post, presenter: presenter %>
		<% end %>
	<% end %>
</section>

<div id="reply_post"></div> 