<% provide(:title, @current_user[:name]) %>
<h1>Fellow Scholars</h1>

<%= will_paginate %>

<ul class="users">
	<% @users.each do |user| %>
		<%= render user %>
	<% end %>
</ul>

<%= will_paginate %>