<% provide(:title, @user.person.full_name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for(@user) %>
				<%= @user.person.full_name %>
			</h1>
		</section>
		<section>
			<!-- Placeholder -->
		</section>
	</aside>

	<section class="span8">
	<!-- Placeholder -->

	</section>
</div>

