<% provide(:title, @user.person.full_name) %>
<div class="row">
	<aside class="span4">
		<section>
			<%= gravatar_for(@user) %>
			<%= @user.profile.full_name %>
		</section>
		<section>
			<!-- Placeholder -->
		</section>
	</aside>

	<section class="span8">
	<!-- Placeholder -->

	</section>
</div>