<% provide(:title, 'Help') %>
<h1>Check your inbox</h1>
<h3>Thanks for signing up to Kschizzy!</h3>
<p>Please go check your inbox and follow the sign-in link sent to <strong><%= @email %></strong>.</p>