<% provide(:title, 'Account Activation') %>
<section class="container my-container">
	<h3>Activate your account</h3>
	<p>To activate your account and take full advantage of Kshizzy's features, please use the activation link sent to your email. To request a new activation link, enter your email below.</p>

	<div class="row">
		<div class="span4">
			<%= form_for @user, url: resend_activation_path  do |f| %>	
				<%= f.text_field :email, placeholder: "Email" %>
				<%= f.submit "Send", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>

	<p>New user? <%= link_to "Join the conversation!" , signup_path %></p>
</section>