<% provide(:title, 'Account Activation') %>
<section class="container">
<h3>Activation email sent!</h3>
<p>Please go check your inbox and follow the sign-in link sent to <strong><%= @email %></strong>.</p>
</section>