<% provide(:title, 'Account Confirmation') %>
<section class="container">
	<h3>Confirmation email sent!</h3>
	<p>
		Please follow the sign-in link sent to: <strong><%= @email %></strong>.
	</p>
</section>