<div class="fakebottom-row">
	<a class="fakebottom-item" href="#">Search Kshizzy</a>
  	<a class="fakebottom-item" href="#">Browse our library</a>
  	<a class="fakebottom-item" href="#">What's Kshizzy all about?</a>
  	<a class="fakebottom-item" href="#">What our users are saying</a>
</div>
