/* Popout styling */

/* Base Colors */
$popout-body: #3F3F41; 

/* Popout action colors */

$ppl: #5387F7;
$msg: #663BEE;
$thk: #DB5656; 
$con: #927DB1;
$not: #8F00FF;
$mng: #14CC5D;

@mixin box-shadow {
  -webkit-box-shadow: -1px 1px 2px black;
  -moz-box-shadow: -1px 1px 2px black;
  box-shadow: -1px 1px 2px black;
}
/* Popout Main */

.popout {
  position: absolute;
  right: 0px;
  background-color: $popout-body;
  width: 20%;
  height: 600px;
  overflow: hidden;
  @include box-shadow;
  a {
    color: antiquewhite;
    text-decoration: none;
  }
}

/* Header */

.popout-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #333335;
  -webkit-box-shadow: 1px 1px 2px rgb(37, 37, 37);
  -moz-box-shadow: 1px 1px 2px rgb(37, 37, 37);
  box-shadow: 1px 1px 2px rgb(37, 37, 37);
  div {
    margin: 1px auto;
  }
  &:hover {
    cursor: pointer;
    #popout-toggle {
      color: #E9D7D7;
    }
  }
}

#popout-toggle {
  color: #696969;
  font-size: large;
  font-weight: 600; 
}

.popout-body {
  position: relative;
  margin: auto;
  width: 100%;
  top: 3.7em;
  height: 500px;
}

.popout-bucket {
  padding: 20px 15px;
  img {
    float: left;
    border: 3px solid white;
    border-radius: 4px;
    bottom: 14px;
    @include box-shadow;
  }
  span, a {
    margin-left: 20px;
  }
  a {
    font-size: 1.45em;
  }
  h7 {
    font-weight: 100;
    a {
      color: #868788;
      font-size: 1.2em;
    }
  }
}

/* Carousel */

.popout-carousel {
  padding: 5px;
  height: 410px;
}

.carousel-actions {
  position: absolute;
  width: 96.5%;
  height: 80%;
  overflow: hidden;
}

.carousel-people, .carousel-ideas, .carousel-notifications,
.carousel-messages, .carousel-conversations, .carousel-settings {
  @extend .carousel-actions;
}

.carousel-right { 
  -webkit-box-shadow: -1px 1px 2px black inset;
  -moz-box-shadow: -1px 1px 2px black inset;
  box-shadow: -1px 1px 2px black inset;
}

.carousel-left {
  -webkit-box-shadow: 1px 1px 2px black inset;
  -moz-box-shadow: 1px 1px 2px black inset;
  box-shadow: 1px 1px 2px black inset;
}

$lefties: people ideas notifications; 
$righties: messages conversations settings;
$left: 289;
$right: 289;

@each $lefty in $lefties {
  .carousel-#{$lefty} {
    right: #{$left}px;
  }
  $left: $left + 289;
}

@each $righty in $righties {
  .carousel-#{$righty} {
    left: #{$right}px;
  }
  $right: $right + 289;
}


.carousel-action {
  width: 9.2em;
  height: 9em;
  float: left;
  margin: 3px;
  -webkit-box-shadow: 1px 1px 2px rgb(48, 44, 44);
  -moz-box-shadow: 1px 1px 2px rgb(48, 44, 44);
  box-shadow: 1px 1px 2px rgb(48, 44, 44);
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  .type {
    float: left;
    position: relative;
    color: antiquewhite;
    font-weight: 300;
    font-size: .9em;
    padding: 10px;
    top: 7em; 
  }
  &:hover {
    -webkit-box-shadow: 1px 1px 2px rgb(48, 44, 44) inset;
    -moz-box-shadow: 1px 1px 2px rgb(48, 44, 44) inset;
    box-shadow: 1px 1px 2px rgb(48, 44, 44) inset;
    .type {
      //font-size: 1.2em;
      //top: 5em;
    }
  }
}

.carousel {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.carousel-people, #action-people {
  background-color: $ppl;
}
.carousel-messages, #action-messages {
  background-color: $msg;
}
.carousel-ideas, #action-ideas {
  background-color: $thk;
}
.carousel-conversations, #action-conversations {
  background-color: $con;
}
.carousel-notifications, #action-notifications {
  background-color: $not;
}
.carousel-settings, #action-settings {
  background-color: $mng;
}

#action-messages, #action-conversations, #action-settings {
  float: right;
}

/* Sprites */

.icon {
  height: 48px;
  width: 48px;
  background-image: url("my_real_sprites.png");
  position: relative;
  margin: 30px auto -80px auto;
}

#popout-toggle {
  background-position: 48px -48px;
  &:hover {
    background-position: 48px 0px;
  }
}

#icon-ppl {
  background-position: 0px 0px;
}

#icon-msg {
  background-position: 0px -48px;
}

#icon-thk {
  background-position: 0px -96px;
}

#icon-con {
  background-position: 0px -144px;
}

#icon-not {
  background-position: 0px -190px; 
}

#icon-mng {
  background-position: 0px -240px;
}

.action-wrapper {
  margin-left: auto;
  margin-right: auto;
}

/* Footer */

.popout-footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #4D4C4C;
  padding: 15px 0;
  @include box-shadow;
  &:hover {
    background-color: #665F5F;
    color: #E9D7D7;
    a {
      color: antiquewhite;
    }   
  }
  a {
    cursor: pointer;
    color: #696969;
    &:hover {
      color: #E9D7D7;
    }
  }
}