@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

/* Colors */
$body: #3F3F41; 
$box-shadow: #353434;

/* Popout action colors */

$ppl: #5387F7;
$msg: #663BEE;
$thk: #DB5656; 
$con: #927DB1;
$not: #8F00FF;
$mng: #14CC5D;
$hover: #7139A0;

/* Popout */

.popout {
  position: absolute;
  right: 0px;
  background-color: $body;
  width: 20%;
  height: 600px;
  overflow: hidden;
  a {
    color: antiquewhite;
    text-decoration: none;
  }
}

.popout-header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #333335;
  .center {
    padding: 14px 0;
  }
  &:hover {
    cursor: pointer;
    #popout-toggle {
      color: #E9D7D7;
    }
  }
}

#popout-toggle {
  color: #696969;
  font-size: large;
  font-weight: 600; 
}

.popout-body {
  position: relative;
  margin: auto;
  width: 100%;
  top: 3.7em;
  height: 500px;
}

.popout-bucket {
  padding: 20px 15px;
  img {
    float: left;
  }
  span, a {
    margin-left: 20px;
  }
  a {
    font-size: 1.45em;
  }
  h7 {
    font-weight: 100;
    a {
      color: #868788;
      font-size: 1.2em;
    }
  }
}

.popout-carousel {
  padding: 5px;
  height: 410px;
}

.carousel-actions {
  position: absolute;
  width: 96.5%;
  height: 80%;
  overflow: hidden;
}

.carousel-content {
  @extend .carousel-actions;
  right: 289px;
  opacity: .8;
}

.carousel-action {
  width: 9.2em;
  height: 9em;
  float: left;
  border: 3px solid;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  .type {
    float: left;
    position: relative;
    color: antiquewhite;
    font-weight: 300;
    font-size: .9em;
    padding: 10px;
    top: 7em; 
  }
  &:hover .type {
    font-size: 1.2em;
    top: 5em;
  }
}

/* Sprites */
.icon {
  height: 50px;
  width: 60px;
  background-image: url("mySprites.png");
  position: relative;
  margin: 30px auto -80px auto;
}

#icon-ppl {
  background-position: 0px 0px;
}

#icon-msg {
  background-position: 0px -60px;
}

#icon-thk {
  background-position: 0px -120px;
}

#icon-con {
  background-position: 0px -180px;
}

#icon-not {
  background-position: 0px -240px; 
}

#icon-mng {
  background-position: 0px -300px;
}

#action-wrapper {
  margin-left: auto;
  margin-right: auto;
}

#action-ppl {
  background-color: $ppl;
}
#action-msg {
  background-color: $msg;
  float: right;
}
#action-thk {
  background-color: $thk;
}
#action-con {
  background-color: $con;
  float: right;
}
#action-not {
  background-color: $not;
}
#action-mng {
  background-color: $mng;
  float: right;
}

.test {
  width:50px;
  height:40px;
  background:url(msg.png) 0 0;
}

.popout-footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #4D4C4C;
  padding: 15px 0;
  -webkit-box-shadow: 1px 1px 2px black;
  -moz-box-shadow: 1px 1px 2px black;
  box-shadow: 1px 1px 2px black;
  &:hover {
    background-color: #665F5F;
    color: #E9D7D7;
    a {
      color: antiquewhite;
    }   
  }
  a {
    cursor: pointer;
    color: #696969;
    &:hover {
      color: #E9D7D7;
    }
  }
}

.popout-messages, .popout-conversations, .popout-notifications {
  background-color: #5F5E5E;
  font-size: 1.3em;
  color: antiquewhite;
  margin-top: 10px;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 2px $box-shadow;
  -moz-box-shadow: 1px 1px 2px $box-shadow;
  box-shadow: 1px 1px 2px $box-shadow;
  &:hover {
    background-color: #807C7C;
    cursor: pointer;
  }
}

.popout-msg, .popout-convo, .popout-note {
  width: 100%;
  margin: auto;
  text-align: left;
  font-size: 1em;
}