@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

/* Colors */
$body: #3F3F41; 
$box-shadow: #353434;

/* Popout action colors */

$ppl: #8D11F0;
$msg: #E23535;
$thk: #F1F112;
$con: #F12E5D;
$not: #7E7EFF;
$mng: #00b800;

/* Popout */

.popout {
  position: absolute;
  right: 0px;
  background-color: $body;
  width: 20%;
  height: 600px;
  overflow: hidden;
  a {
    color: antiquewhite;
    text-decoration: none;
  }
}

.popout-header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #333335;
  .center {
    padding: 15px 0;
  }
  &:hover {
    cursor: pointer;
    #popout-toggle {
      color: #E9D7D7;
    }
  }
}

#popout-toggle {
  color: #696969;
  font-size: large;
  font-weight: 600; 
}

.popout-body {
  position: relative;
  margin: auto;
  width: 100%;
  top: 3.7em;
  height: 83%;
}

.popout-bucket {
  padding: 20px 15px;
  img {
    float: left;
  }
  span, a {
    margin-left: 20px;
  }
  a {
    font-size: 1.5em;
  }
  h7 {
    font-weight: 100;
    a {
      color: #868788;
      font-size: 1.2em;
    }
  }
}

.popout-carousel {
  padding: 5px;
  height: 73%;
}

.carousel-actions {
  position: absolute;
  width: 96.5%;
  height: 73%;
}

.carousel-content {
  @extend .carousel-actions;
  right: 289px;
  opacity: .8;
}

.carousel-action {
  width: 47.5%%;
  height: 33.3336%;
  float: left;
  border: 3px solid;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#action-ppl {
  background-color: $ppl;
  &:hover {
    background-color: #C683FC;
  }
}
#action-msg {
  background-color: $msg;
  &:hover {
    background-color: #F0A2A2;
  }
}
#action-thk {
  background-color: $thk;
  &:hover {
    background-color: #E4E4B9;
  }
}
#action-con {
  background-color: $con;
  &:hover {
    background-color: #DD85C1;
  }
}
#action-not {
  background-color: $not;
  &:hover {
    background-color: #9E9EE9;
  }
}
#action-mng {
  background-color: $mng;
  &:hover {
    background-color: #7FD67F;
  }
}

.test {
  width:50px;
  height:40px;
  background:url(msg.png) 0 0;
}

.popout-footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #4D4C4C;
  padding: 15px 0;
  -webkit-box-shadow: 1px 1px 2px black;
  -moz-box-shadow: 1px 1px 2px black;
  box-shadow: 1px 1px 2px black;
  &:hover {
    background-color: #665F5F;
    color: #E9D7D7;
    a {
      color: antiquewhite;
    }   
  }
  a {
    cursor: pointer;
    color: #696969;
    &:hover {
      color: #E9D7D7;
    }
  }
}

.popout-messages, .popout-conversations, .popout-notifications {
  background-color: #5F5E5E;
  font-size: 1.3em;
  color: antiquewhite;
  margin-top: 10px;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 2px $box-shadow;
  -moz-box-shadow: 1px 1px 2px $box-shadow;
  box-shadow: 1px 1px 2px $box-shadow;
  &:hover {
    background-color: #807C7C;
    cursor: pointer;
  }
}

.popout-msg, .popout-convo, .popout-note {
  width: 100%;
  margin: auto;
  text-align: left;
  font-size: 1em;
}