// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Mixins and variables*/

@mixin box-shadow-1 {
  -webkit-box-shadow: 1px 1px 2px rgb(216, 216, 216);
  -moz-box-shadow: 1px 1px 2px rgb(216, 216, 216);
  box-shadow: 1px 1px 2px rgb(216, 216, 216);
}

@mixin border-radius-1 {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

/* Signin/Signup */

.signin-signup-wrapper {
	max-width: 500px;
	min-width: 500px;
	margin: 70px auto;
	overflow: visible;
}

.form-header {
	margin: 30px auto;
}

.sign-in-call-to-action, .sign-up-call-to-action {
	font-size: 4em;
	font-weight: 200;
}

.link-to-sign-up, .link-to-sign-in, .link-to-password {
	float: right;
	font-size: 1.5em;
	font-weight: 200;
	margin-top: 10px;
}

.link-to-password {
	font-size: 1.3em;
	margin-top: 17px;
}

.sign-in-form-container, .sign-up-form-container {
	margin: auto;
	padding: 15px;
	background: #F6F5ED;
	clear: both;
	@include box-shadow-1;
	@include border-radius-1;
	h1 {
		color: #3F4944;
	}
}


.new_user {
	padding: 5px;
	margin-bottom: 0px;
	@include border-radius-1;
}

#user_email, #user_password, #user_first_name, 
#user_last_name, #user_password, #user_password_confirmation {
	font-family: 'Open Sans', Helvetica Neue, sans-serif, helvetica;
	background: none repeat scroll 0 0 #DCD7CE;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35) inset, 0 1px 0 #FFFFFF;
	color: #565658;
	font-size: 1.2em;
	font-weight: 400;
	padding: 7px;
}

form label {
    display: block;
    font-size: 1em;
    font-weight: 600;
    margin: 0 0 5px;
    text-transform: uppercase;
    color: #565658;
}

/* Submit buttons */

.submit-sign-up, .submit-sign-in {
	display: block;
    text-align: center;
    text-transform: uppercase;
    background: none repeat scroll 0 0 #228B9B;
	padding: 10px 0 15px;
	@include box-shadow-1;	
	&:hover {
    	background: none repeat scroll 0 0 #1D7886;
    	cursor: pointer;
    	input[type="submit"] {
    		background-color: inherit;
    	}	
    }
    &:focus {
    	outline: none;   	
    }
}

.submit-sign-up, .submit-sign-in {
	width: 100%;
	input[type="submit"] {
		margin-bottom: 0px;
		&:focus {
			outline: none;
		}	  
  		&:disabled {
			background-color: inherit;
			cursor: progress;
		}
	}	
}

.submit-sign-in {
	width: 60%;
}

.submit-button-sign-in, .submit-button-sign-up {
	font-family: 'Open Sans', Helvetica Neue, sans-serif, helvetica;
	font-size: 1.7em;
    font-weight: 200;
    color: #EEEEEE;
    background: none repeat scroll 0 0 #228B9B;
    border-width: 0px;	
}


/* Responsive design elements */

@media screen and (max-width: 645px) {
	.submit-button-a {
		font-size: 1.2em;
	}
}

@media screen and (max-width: 530px) {
	.submit-button-a {
		font-size: .85em;
	}

	.submit input[type="submit"] {
		width: 100%;
	}
}