<div class="popout-body">
	<div class="popout-bucket">
		<%= gravatar_for @current_user, size: 60 %>
		<div class="bucket-content">
			<h5><%= link_to current_user.first_name, "#" %><h5>
		</div>	
	</div>
	<div class="popout-carousel">
		<div class="carousel-content">
			<div>
				<p style="color: white">Content</p>
			</div>		
		</div>
		<div class="carousel-actions">		
			<div class="carousel-action" id="action-ppl">
				<div id="action-wrapper">
					<div class="icon" id="icon-ppl"></div>
					<div class="type">People</div>
				</div>
			</div>
			<div class="carousel-action" id="action-msg">
				<div class="action-wrapper">
					<div class="icon" id="icon-msg"></div>
					<div class="type">Messages</div>
				</div>
			</div>
			<div class="carousel-action" id="action-thk">
				<div class="action-wrapper">
					<div class="icon" id="icon-thk"></div>
					<div class="type">Ideas</div>
				</div>
			</div>
			<div class="carousel-action" id="action-con">
				<div class="action-wrapper">
					<div class="icon" id="icon-con"></div>
					<div class="type">Conversations</div>
				</div>
			</div>
			<div class="carousel-action" id="action-not">
				<div class="action-wrapper">
					<div class="icon" id="icon-not"></div>
					<div class="type">Notifications</div>
				</div>
			</div>
			<div class="carousel-action" id="action-mng">
				<div class="action-wrapper">
					<div class="icon" id="icon-mng"></div>
					<div class="type">Settings</div>
				</div>
			</div>				
		</div>
	</div>
</div>