<div class="carousel carousel-conversations carousel-right" id="carousel-conversations">
	<div>
		<p style="color: white;"><< Go back</p>
	</div>	
	<p><%= link_to "Start new conversation", new_conversation_path %></p>	
</div>