<div class="popout-body">
	<div class="popout-bucket">
		<%= gravatar_for @current_user, size: 60 %>
		<div class="bucket-content">
			<h5><%= link_to current_user.first_name, "#" %><h5>
		</div>	
	</div>
	<div class="popout-carousel">
		<%= render 'layouts/popout/popout_carosel_content' %>
		<%= render 'layouts/popout/popout_carosel_actions' %>
	</div>
</div>