<div class="carousel-actions">		
	<div class="carousel-action carousel-action-left" id="action-people">
		<div class="action-wrapper">
			<div class="icon" id="icon-ppl"></div>
			<div class="type">People</div>
		</div>
		<div class="content-wrapper">
		</div>
	</div>
	<div class="carousel-action carousel-action-right" id="action-messages">
		<div class="action-wrapper">
			<div class="icon" id="icon-msg"></div>
			<div class="type">Messages</div>
		</div>
	</div>
	<div class="carousel-action carousel-action-left" id="action-ideas">
		<div class="action-wrapper">
			<div class="icon" id="icon-thk"></div>
			<div class="type">Ideas</div>
		</div>
	</div>
	<div class="carousel-action carousel-action-right" id="action-conversations">
		<div class="action-wrapper">
			<div class="icon" id="icon-con"></div>
			<div class="type">Conversations</div>
		</div>
	</div>
	<div class="carousel-action carousel-action-left" id="action-notifications">
		<div class="action-wrapper">
			<div class="icon" id="icon-not"></div>
			<div class="type">Notifications</div>
		</div>
	</div>
	<div class="carousel-action carousel-action-right" id="action-settings">
		<div class="action-wrapper">
			<div class="icon" id="icon-mng"></div>
			<div class="type">Settings</div>
		</div>
	</div>				
</div>