<div class="carousel-actions">		
	<div class="carousel-action" id="action-ppl">
		<div class="action-wrapper">
			<div class="icon" id="icon-ppl"></div>
			<div class="type">People</div>
		</div>
		<div class="content-wrapper">
			<section id="deleteME" style="display:none; background-color: white;">
				<p>This will fade in after</p>
				<p>Following</p>
				<p>Followers</p>
				<p>Recomended</p>
			</section>
		</div>
	</div>
	<div class="carousel-action" id="action-msg">
		<div class="action-wrapper">
			<div class="icon" id="icon-msg"></div>
			<div class="type">Messages</div>
		</div>
	</div>
	<div class="carousel-action" id="action-thk">
		<div class="action-wrapper">
			<div class="icon" id="icon-thk"></div>
			<div class="type">Ideas</div>
		</div>
	</div>
	<div class="carousel-action" id="action-con">
		<div class="action-wrapper">
			<div class="icon" id="icon-con"></div>
			<div class="type">Conversations</div>
		</div>
	</div>
	<div class="carousel-action" id="action-not">
		<div class="action-wrapper">
			<div class="icon" id="icon-not"></div>
			<div class="type">Notifications</div>
		</div>
	</div>
	<div class="carousel-action" id="action-mng">
		<div class="action-wrapper">
			<div class="icon" id="icon-mng"></div>
			<div class="type">Settings</div>
		</div>
	</div>				
</div>