<p>
	<%= f.text_field :title, 
		placeholder: "What is this conversation about in one brief sentence?" %>
</p>


<div class="first_post" id="first_post">
	<p>
		<%= f.text_area :content, placeholder: "Make the first post!", class: "first" %>
	</p> 
</div>

<div class="submit-button submit-share">
	<%= f.submit "Start conversation!", class: "submit-button-static",
			'data-disable-with' => "Starting conversation..." %>
</div>